html {
    background: #F1F1F1;
    height: 100%;
    background-image: url("../images/natural_paper.png")
}


body {
    position: relative;
    height: 100%;
    min-height: 100%;
    margin: 0px auto;
    padding-bottom: 200px;
    background: transparent;
    font-family: 'Comfortaa', cursive;
    letter-spacing: 1.1px;
    line-height: 1.4;
}






a {
    color: #5A84AD;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover {
    color: #242445;
}

h1 {
    font-size: 26px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

h2 {
    font-size: 24px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

h3 {
    font-size: 20px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

p {
    font-size: 16px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


@media (max-width: 768px) {
    a {
        font-size: 14px;
    }
    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }
}









/* Colors
	shade of purple
	color:#242445;
	
	shade of blueish
	color:#5A84AD;


 */


/* INDEX.HTML */

header {
    height: 150px;
    width: 100%;
    background: white;
    position: relative;
    border-bottom: 2px solid #cdcdcd;
    font-family: 'Comfortaa', cursive;
}

header .title {
    width: auto;
    text-align: center;
    position: absolute;
    bottom: 0;
    background: #5A84AD;
    color: white;
    margin-left: 3.5%;
    transition: all .33s ease-in-out;
}

header .head-container {
    position: relative;
    margin: 0px auto;
    max-width: 1200px;
    height: 150px;
    background: transparent;
}

header .title h2 {
    margin: 0;
    margin: 25px;
    font-family: 'Comfortaa', cursive;
}

nav {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 70px;
    margin-right: 3.5%;
}

nav ul {
    list-style-type: none;
    -webkit-margin-before: 0px;
    -webkit-padding-start: 0px;
}

nav ul li {
    cursor: pointer;
    display: inline-block;
    padding: 0px 10px;
    margin: 20px 0px;
    border-right: 1px solid #cdcdcd;
}

nav ul li:last-child {
    padding-right: 0;
    border-right: none;
}

nav ul li a {
    cursor: pointer;
}

nav ul li a p {
    font-size: 18px;
}

.container {
    margin: 0px auto;
    max-width: 1200px;
    min-height: 100%;
    margin-bottom: 60px;
    overflow: auto;
}

.container.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#about,
#about-bio-img {
    float: left;
}

#about-bio-img {
    /*word-wrap: break-word;*/
    margin: 0px 20px 20px 0px;
}

#about,
#form,
#portfolio {
    background: white;
    width: 60%;
    margin: 3.5%;
    border: 1px solid #cdcdcd;
    line-height: 1.8;
}

#about h1 {
    color: #5A84AD;
    border-bottom: 2px solid #cdcdcd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#form h1 {
    color: #5A84AD;
    border-bottom: 2px solid #cdcdcd;
    padding: 20px 0px;
    width: 90%;
    margin: 0px auto;
}

#portfolio h1 {
    color: #5A84AD;
    border-bottom: 2px solid #cdcdcd;
    padding-bottom: 20px;
}

#about p {
    word-break: break-all;
    font-size: 16px;
    margin-top: 0px;
}

#about .content {
    margin: 40px;
}

#connect {
    float: right;
    background: white;
    margin: 3.5%;
    width: 25%;
    border: 1px solid #cdcdcd;
}

#connect .content-contain {
    margin: 20px 0px;
}

#connect h3 {
    width: 75%;
    margin: 0px auto;
    padding: 10px 0px;
	text-align: center;
    color: #5A84AD;
    border-bottom: 1px solid #cdcdcd;
}



#connect .image-contain {
    width: 100%;
    margin: 0px auto;
    margin-top: 20px;
    text-align: center;
}

#connect .icon {
    height: 65px;
    width: 65px;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

@media (max-width: 768px) {
    #connect .icon {
        display: block;
        margin: 0px auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

#connect .icon:hover {
    transform: scale(1.1);
}

#connect .icon.stack {
    height: 58px;
    width: 58px;
    padding: 3px;
}










/*FORM.HTML*/

#form {
    float: left;
}


label,
input {
    display: block;
}

input,
textarea,
select,
button {
    width: 150px;
    margin: 0;
    border: 1px solid #cdcdcd;
    -webkit-box-sizing: border-box;
    /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box;
    /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
}

textarea {
    height: 200px;
    width: 90%;
    margin: 0px auto;
    font-size: 16px;
    padding: 5px;
}

label {
    width: 90%;
    margin: 0px auto;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}

input[type='text'],
input[type='email'] {
    width: 90%;
    margin: 0px auto;
    padding: 10px;
    font-size: 16px;
}

.center-msg {
    text-align: center;
}

.center-button {
    width: 90%;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

input[type='submit'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #5A84AD;
    color: white;
    border: 2px solid #5A84AD;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

input[type='submit']:hover {
    transition: all .2s ease-in-out;
    background: white;
    color: #5A84AD;
}









/* PORTFOLIO.HTML */

#portfolio {
    float: left;
}

#portfolio h1 {
    width: 90%;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.image-container {
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.card-container {
    position: relative;
    width: 50%;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}

.card-container:hover .cover p {
    background: #242445;
}

.card-container img {
    margin: 0px auto;
    width: 80%;
    transition: all .4s ease-in-out;
}

.card-container .cover {
    margin: 0px auto;
    height: 20%;
    width: 80%;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    background: #5A84AD;
}

@media (max-width:520px) {
    .card-container .cover {
        height: 40%;
        bottom: 0px;
    }
}

.card-container .cover p {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

@media (max-width:520px) {
    .card-container .cover p {
        font-size: 10px;
    }
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    height: 100px;
    background: #85847E;
    border-top: 10px solid #5A84AD;
}

.footer p {
    color: white;
    display: flex;
    align-items: center;
    height: 100px;
    margin-left: 3.5%;
}