.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important; }

html {
  height: 100%;
  background: #F2F2F2; }

/* 
font-family: 'Quattrocento', serif;
font-family: 'Quattrocento Sans', sans-serif; 

$yel = #EEC25E;

$sal = #F79D84;

$gr = #59CD90;

$bl = #39A0ED;

$r = #EE6352;

COLORS: 

*/
body {
  font-family: 'Quattrocento', serif;
  line-height: 1.4;
  position: relative;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding-bottom: 200px;
  letter-spacing: 1.1px;
  background: transparent; }

a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #39A0ED; }
  a:focus {
    outline: none; }

h1 {
  font-size: 26px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px; }

p {
  font-size: 16px; }

@media (max-width: 768px) {
  a {
    font-size: 14px; }
  h1 {
    font-size: 22px; }
  h2 {
    font-size: 20px; }
  h3 {
    font-size: 16px; }
  p {
    font-size: 14px; } }

header {
  font-family: 'Quatttrocento Sans', sans-serif;
  position: relative;
  width: 100%;
  height: 150px;
  border-bottom: 2px solid #cdcdcd;
  background: white;
  transition: all .2s ease-in-out; }
  header .title {
    position: absolute;
    bottom: 0;
    width: auto;
    margin-left: 3.5%;
    transition: background-color 1.5s ease-in-out;
    -moz-transition: background-color 1.5s ease-in-out;
    -webkit-transition: background-color 1.5 s ease-in-out;
    text-align: center;
    color: white;
    background: white;
    transition: all .2 ease-in-out; }
    header .title.b {
      background: #39A0ED; }
    header .title.g {
      background: #59CD90; }
    header .title.y {
      background: #EEC25E; }
    @media (max-width: 768px) {
      header .title {
        top: 0;
        width: 100%;
        margin-left: 0; } }
  header .head-container {
    position: relative;
    max-width: 1200px;
    height: 150px;
    margin: 0 auto;
    background: transparent; }
  header .title h2 {
    margin: 0;
    margin: 25px;
    font-weight: bold; }

nav {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 70px;
  margin-right: 3.5%;
  background: white; }
  @media (max-width: 768px) {
    nav {
      margin: 0px auto;
      width: 100%;
      text-align: center; } }
  nav ul {
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0; }
    nav ul li {
      display: inline-block;
      margin: 20px 0;
      padding: 0 10px;
      cursor: pointer;
      border-right: 1px solid #cdcdcd; }
      @media (max-width: 768px) {
        nav ul li {
          width: 25%; } }
      nav ul li:last-child {
        padding-right: 0;
        border-right: 0; }
      nav ul li:nth-child(3n+1) a {
        color: #EEC25E; }
      nav ul li:nth-child(3n+2) a {
        color: #59CD90; }
      nav ul li:nth-child(3n+3) a {
        color: #39A0ED; }
      nav ul li a {
        cursor: pointer;
        font-weight: 500; }
        nav ul li a p {
          font-size: 18px; }

.container {
  overflow: auto;
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  margin-bottom: 60px; }
  .container.clearfix::after {
    display: table;
    clear: both;
    content: ''; }

#about {
  float: left; }

#about-bio-img {
  float: left;
  margin: 0 20px 20px 0; }
  @media (max-width: 640px) {
    #about-bio-img {
      width: 100%; } }

#about,
#form,
#portfolio {
  line-height: 1.8;
  width: 60%;
  margin: 3.5%;
  border: 1px solid #cdcdcd;
  background: white; }
  @media (max-width: 980px) {
    #about,
    #form,
    #portfolio {
      width: 50%; } }
  @media (max-width: 768px) {
    #about,
    #form,
    #portfolio {
      width: 92%; } }

#about h1 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: #EEC25E;
  border-bottom: 2px solid #cdcdcd; }

#form h1 {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  color: #39A0ED;
  border-bottom: 2px solid #cdcdcd; }

#portfolio h1 {
  padding-bottom: 20px;
  color: #59CD90;
  border-bottom: 2px solid #cdcdcd; }

#about p {
  font-size: 16px;
  margin-top: 0;
  word-break: break-all; }

#about .content {
  margin: 40px; }

#connect-fixed {
  display: none;
  position: fixed;
  top: 50%;
  right: 0;
  height: 50px;
  width: 10px;
  background: #39A0ED;
  color: white;
  transition: all .33s ease-in-out; }
  @media (max-width: 900px) {
    #connect-fixed {
      display: none; } }
  @media (max-width: 640px) {
    #connect-fixed {
      display: block; }
      #connect-fixed:hover {
        width: 25px; } }
  #connect-fixed.b {
    background: #39A0ED; }
  #connect-fixed.g {
    background: #59CD90; }
  #connect-fixed.y {
    background: #EEC25E; }

#connect {
  float: right;
  width: 25%;
  margin: 3.5%;
  border: 1px solid #cdcdcd;
  background: white; }
  @media (max-width: 980px) {
    #connect {
      width: 30%; } }
  @media (max-width: 768px) {
    #connect {
      display: block;
      width: 93%; } }
  #connect .content-contain {
    margin: 20px 0; }
    #connect .content-contain h3 {
      width: 75%;
      margin: 0 auto;
      padding: 10px 0;
      text-align: center;
      border-bottom: 1px solid #cdcdcd; }
      #connect .content-contain h3.g {
        color: #59CD90; }
      #connect .content-contain h3.b {
        color: #39A0ED; }
      #connect .content-contain h3.y {
        color: #EEC25E; }
      @media (max-width: 768px) {
        #connect .content-contain h3 {
          text-align: left; } }
  #connect .image-contain {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center; }
    @media (max-width: 768px) {
      #connect .image-contain {
        text-align: left;
        width: 75%; } }
  #connect .icon {
    width: 65px;
    height: 65px;
    cursor: pointer; }
    #connect .icon.stack {
      width: 58px;
      height: 58px;
      padding: 3px; }

@media (max-width: 980px) {
  #connect .icon {
    display: inline-block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px; } }

#form {
  float: left; }

label {
  display: block; }

input {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 150px;
  margin: 0;
  border: 1px solid #cdcdcd; }

textarea,
select,
button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 150px;
  margin: 0;
  border: 1px solid #cdcdcd; }

textarea {
  font-size: 16px;
  width: 90%;
  height: 200px;
  margin: 0 auto;
  padding: 5px;
  color: #39A0ED; }

label {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left; }

input[type='text'], input[type='email'] {
  font-size: 16px;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  color: #39A0ED; }
  input[type='text']::placeholder, input[type='email']::placeholder {
    color: rgba(205, 205, 205, 0.95); }

.center-msg {
  text-align: center; }

.center-button {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px; }

input[type='submit'] {
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  color: white;
  border: 2px solid #39A0ED;
  background: #39A0ED;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-weight: bold;
  /* text-transform: uppercase; */ }
  input[type='submit']:hover {
    transition: all .2s ease-in-out;
    color: #39A0ED;
    background: white; }

#portfolio {
  float: left; }
  #portfolio h1 {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px; }

.image-container {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center; }

.card-container {
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px; }
  @media (max-width: 768px) {
    .card-container {
      width: 50%; } }
  @media (max-width: 640px) {
    .card-container {
      width: 100%; } }
  .card-container:hover .cover {
    background: #a7e5c4; }
  .card-container img {
    width: 85%;
    margin: 0 auto;
    transition: all .4s ease-in-out; }
  .card-container .cover {
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;
    width: 85%;
    height: 20%;
    margin: 0 auto;
    background: #59CD90;
    transition: background-color .33s ease-in-out; }
    .card-container .cover p {
      display: flex;
      height: 100%;
      color: white;
      align-items: center;
      justify-content: center; }

@media (max-width: 520px) {
  .card-container .cover {
    bottom: 0;
    height: 40%; } }

@media (max-width: 520px) {
  .card-container .cover p {
    font-size: 10px; } }

.footer {
  position: absolute;
  right: 0;
  left: 0;
  height: 100px;
  border-top: 10px solid #fff;
  background: white;
  transition: background-color 1s ease-in-out; }
  .footer.b {
    background: #39A0ED; }
  .footer.g {
    background: #59CD90; }
  .footer.y {
    background: #EEC25E; }
  .footer p {
    display: flex;
    height: 100px;
    margin-left: 3.5%;
    color: #fff;
    align-items: center; }
